# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.Spice.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Libraries\Documents\.NET Projects\Spice\.idea\.idea.Spice\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
