<div class="form-group row">
	<div class="col-md-4">
	</div>
	<div class="col-md-4">
		<a asp-action="Index" class="btn btn-success form-control">Back to List</a>
	</div>
	<div class="col-md-4">
		<button type="submit" class="btn btn-primary form-control" value="Add to Cart">Add to Cart</button>
	</div>
</div>
