@model Spice.Models.ViewModels.SubCategoryAndCategoryViewModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2 class="text-info">Details Sub Category</h2>
<br />

<div class="border backgroundWhite">
    <div class="form-group row">
        <div class="col-2">
            <label asp-for="SubCategory.Name" class="col-form-label"></label>
        </div>
        <div class="col-5">
            <input asp-for="SubCategory.Name" readonly class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-2">
            <label asp-for="SubCategory.Category.Name" class="col-form-label"></label>
        </div>
        <div class="col-5">
            <input asp-for="SubCategory.Category.Name" readonly class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-5 offset-2">
            <partial name="_DetailsAndBackToListButton" model="Model.SubCategory.Id" />
        </div>

    </div>
</div>

